@import "../../../variables.scss";

.footer {
	position: relative;

	box-sizing: border-box;

	// padding: 10rem var(--section_padding) var(--section_padding);

	display: grid;

	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, max-content);
	gap: 0 3.2rem;

	padding-top: 5.5rem;

	overflow-x: clip;

	@media screen and (max-width: $width-mobile) {
		display: flex;
		flex-direction: column;
		gap: 0;

		padding-top: 0;
	}
}

.footer__decoration {
	position: absolute;

	width: 100%;
	height: auto;

	top: -5rem;
	left: 0;
	right: 0;

	z-index: 0;

	@media screen and (max-width: $width-mobile) {
		top: -6.9vw;
	}
}

.footer__decoration_mobile {
	display: none;

	@media screen and (max-width: $width-mobile) {
        display: block;
		position: absolute;

		width: 100%;
		height: auto;

		left: 0;
		right: 0;
        bottom: 0;

		z-index: 0;
	}
}

.footer__card {
	width: 67.2rem;
	height: 39.2rem;

	border-radius: 1.6rem;

	box-sizing: border-box;

	overflow: hidden;

	padding: 3.5rem 3.2rem;

	position: relative;

	background-color: var(--color_light_grey);

	margin: 0 0 0 var(--section_padding);

	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		width: 100%;
		height: 100%;

		background-image: url("../../assets/images/Footer_stars_white_card.svg");
		background-repeat: no-repeat;
		background-size: 90%;
		background-position: center;

		z-index: 0;
		pointer-events: none;
	}

	@media screen and (max-width: $width-mobile) {
		width: auto;
		height: 77.5vw;

		background-color: white;

		padding: 0;

		margin: 0 var(--section_padding);

		order: 1;

		&::after {
			background-image: url("../../assets/images/Footer_stars_white_card_mobile.svg");
			background-size: 100%;
			background-position: top center;
			top: -1vw;
		}
	}
}

.footer__card_red {
	background-color: var(--color_red);
	margin: 0 var(--section_padding) 0 0;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 1rem;
		right: 0;

		width: 100%;
		height: 100%;

		background-image: url("../../assets/images/Footer_stars_red_card.svg");
		background-repeat: no-repeat;
		background-size: 95%;
		background-position: center;

		z-index: 0;
		pointer-events: none;
	}

	.footer__cardTitle {
		color: white;
		max-width: 78%;
	}

	@media screen and (max-width: $width-mobile) {
		background-color: white;

		margin: 0 var(--section_padding);
		padding-top: 19vw;
		order: 3;

		height: 128vw;

		.footer__cardTitle {
			color: #000;
			max-width: 100%;
			margin: 0;
			position: relative;
		}

		&::after {
			background-image: url("../../assets/images/Footer_stars_white_card_mobile.svg");
		}
		&::before {
			content: "";
			position: absolute;
			top: -20vw;
			bottom: 0;
			left: 1rem;
			right: 0;

			width: 100%;
			height: 100%;
			background-image: url("../../assets/images/Footer_stars_white_card_mobile.svg");
			background-repeat: no-repeat;
			background-size: 95%;
			background-position: center;

			z-index: 0;
			pointer-events: none;
		}
	}
}

.footer__cardTitle {
	font-weight: 700;
	font-size: var(--font_size_h3);
	line-height: 2.8rem;

	margin: 0;

	color: black;

	font-family: var(--font_Montserrat);

	max-width: 70%;

	@media screen and (max-width: $width-mobile) {
		margin: 4vw 0 0;
		max-width: 100%;

		font-size: 6.1vw;
		line-height: 7.1vw;

		position: relative;
		z-index: 5;
	}
}

.footer__cardSubTitle {
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2.2rem;

	color: white;
	display: block;

	margin: 1.4rem 0 0;

	max-width: 60%;

	@media screen and (max-width: $width-mobile) {
		font-size: 4.1vw;
		line-height: 5.6vw;

		margin: 4.5vw 0 0;

		color: #000;

		max-width: 100%;
		position: relative;
		z-index: 5;
	}
}

.footer__cardPrize_ivi {
	position: absolute;
	top: 8.1rem;
	right: 3rem;

	width: 22.7rem;
	height: auto;

	z-index: 5;

	@media screen and (max-width: $width-mobile) {
		width: 38vw;

		top: 18.5vw;
		right: -1vw;
	}
}

.footer__cardPrize_delivery {
	position: absolute;
	top: 8rem;
	left: -0.5rem;

	width: 42rem;
	height: auto;

	z-index: 5;
	// transform: rotate(-9.46deg);

	@media screen and (max-width: $width-mobile) {
		width: 69vw;
		top: 21.4vw;
		left: -7.1vw;

		transform: rotate(17deg);
	}
}

.footer__cardband_bottom {
	position: absolute;

	right: -4rem;
	bottom: -4.2rem;

	width: 22.6rem;
	height: auto;

	transform: rotate(60deg);

	@media screen and (max-width: $width-mobile) {
		display: none;
	}
}

.footer__cardband_left {
	position: absolute;

	left: -3.1rem;
	bottom: 1.6rem;

	width: 16rem;
	height: auto;

	z-index: 5;

	@media screen and (max-width: $width-mobile) {
		display: none;
	}
}

.footer__cardPrize_multiple {
	position: absolute;
	bottom: 1rem;
	right: 1rem;

	width: 40rem;
	height: auto;

	z-index: 5;

	@media screen and (max-width: $width-mobile) {
		width: 90vw;
	}
}

.footer__intro {
	width: 100%;
	height: 27rem;

	position: relative;

	color: white;

	grid-column: span 2;

	margin: 5.8rem 0 0;

	@media screen and (max-width: $width-mobile) {
		color: #000;

		order: 2;

		display: flex;
		flex-direction: column;

		margin: 0;

		height: 90vw;
	}
}

.footer__bgSnowFlakes {
	position: absolute;

	width: 100%;
	height: 100%;

	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-image: url("../../assets/images/Footer_intro_snowflakes.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;

	z-index: 1;
	pointer-events: none;

	@media screen and (max-width: $width-mobile) {
		display: none;
	}
}

.footer__band {
	position: absolute;

	top: 0;
	left: 0;
	right: 0;

	width: 100%;
	height: auto;

	@media screen and (max-width: $width-mobile) {
		height: 20rem;
		width: auto;
	}
}

.footer__prizeCards {
	position: absolute;

	right: 4.5rem;
	top: -4rem;

	width: 52.1rem;
	height: auto;
	z-index: 5;

	@media screen and (max-width: $width-mobile) {
		width: 92vw;

		position: static;

		order: 2;

		margin: 3vw 4.5vw 5vw;
	}
}

.footer__title {
	margin: 6rem 0 2.3rem 4.9rem;

	font-weight: 700;
	font-family: var(--font_Montserrat);
	font-size: 4rem;
	line-height: 4.8rem;

	max-width: 55%;

	transform: rotate(-2deg);

	@media screen and (max-width: $width-mobile) {
		margin: 9.3vw var(--section_padding) 0;
		font-size: 6.1vw;
		line-height: 7.1vw;

		transform: rotate(-3deg);

		color: white;

		order: 1;

		max-width: 100%;
	}
}

.footer__subTitle {
	display: inline-block;
	transform: rotate(-2deg);

	font-weight: 400;
	font-size: 1.6rem;
	line-height: 2rem;
	opacity: 0.5;

	margin: 0 0 0 4.9rem;

	max-width: 29.5%;

	@media screen and (max-width: $width-mobile) {
		margin: 0 var(--section_padding);

		transform: rotate(0);

		order: 3;

		font-size: 4.1vw;
		line-height: 5.1vw;

		max-width: 100%;
	}
}
