.game {
  font-family: var(--font_Montserrat);
}

.game__timer {
  position: fixed;
  background-color: white;
  padding: 1rem 2.5rem;
  border-radius: 3.2rem;
  top: 1.6rem;
  left: 1.6rem;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-align: center;
}

.game__score {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  font-size: 6.5rem;
  line-height: 6.4rem;
}

.game__board {
}
