@import "../../../variables.scss";

.calendarDay{
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    mix-blend-mode: overlay;
    cursor: pointer;

    transition: transform 0.3s ease-in-out;

    &:hover{
        transform: scale(1.1);
    }

    @media screen and (max-width: $width-mobile){
        &:hover{
            transform: scale(1);
        }
    }
}

.calendarDay__date{
    font-size: 7.2rem;
    line-height: 5.6rem;
    font-weight: 700;

    color: white;

    z-index: 2;

    @media screen and (max-width: $width-mobile){
        font-size: 14.3vw;
        line-height: 14.3vw;
    }
}

.calendarDay__img{
    position: absolute;

    z-index: 0;

    @media screen and (max-width: $width-mobile){
    }
}