@import "../../../variables.scss";

.calendar {
	background-color: var(--color_red);

	position: relative;

	overflow: hidden;

	display: grid;

	margin-top: -1px;

	grid-template-rows: repeat(3, 12.2rem) 22.7rem;
	grid-template-columns: 24rem 12.1rem 23.5rem repeat(5, 12.1rem) 24.2rem;

	grid-template-areas:
		". . . . . . . . ."
		". . . . . . . . sixthDay"
		". . . ninethDay ninethDay . . . ."
		". . . tenthDay tenthDay . . . .";

	@media screen and (max-width: $width-mobile) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 50vw repeat(5, 25vw) 42.3vw 46.4vw;

		overflow: visible;

		grid-template-areas:
			". ."
			". fourthDay"
			". fivethDay"
			"sixthDay ."
			"seventhDay ."
			"ninethDay eleventhDay"
			"tenthDay eleventhDay"
			"twelfthDay twelfthDay";
	}
}

.calendarDay_1 {
	grid-column: span 2;
	grid-row: span 2;

	background-color: #B00200;

	img {
		bottom: 1.2rem;
		right: 2rem;

		width: 18rem;
		height: 13.7rem;

		@media screen and (max-width: $width-mobile) {
			width: 12.1rem;
			height: 9.2rem;

			top: 2rem;
			right: 1rem;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 1;
	}
}
.calendarDay_2 {
	grid-column: span 2;
	grid-row: span 2;

	background-color: #960200;

	img {
		bottom: 3rem;
		right: 2rem;

		width: 16.6rem;
		height: 12.8rem;

		@media screen and (max-width: $width-mobile) {
			top: 2rem;
			right: 1rem;

			width: 12rem;
			height: 9.1rem;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 1;
	}
}
.calendarDay_3 {
	grid-column: span 2;
	grid-row: span 2;

	background-color: #b50403;

	img {
		bottom: 2.5rem;
		right: 2rem;

		width: 11.4rem;
		height: 15rem;

		@media screen and (max-width: $width-mobile) {
			top: 1.5rem;
			right: 2rem;

			width: 10rem;
			height: 13.2rem;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 2;
	}
}
.calendarDay_4 {
	grid-column: span 2;
	grid-row: span 2;

	background-color: #920c0a;

	img {
		bottom: 0;
		right: 1rem;

		width: 18rem;
		height: 19.4rem;

		@media screen and (max-width: $width-mobile) {
			top: 0.5rem;
			right: 0.8rem;

			width: 8.5rem;
			height: 9.1rem;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 1;

		grid-area: fourthDay;
	}
}
.calendarDay_5 {
	grid-column: span 1;
	grid-row: span 1;

	background-color: #c40300;

	img {
		bottom: -3.5rem;
		right: 1.5rem;

		width: 11.7rem;
		height: 18.7rem;

		@media screen and (max-width: $width-mobile) {
			top: 2rem;
			right: 1rem;

			width: 8.7rem;
			height: auto;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 1;

		grid-area: fivethDay;
	}
}
.calendarDay_6 {
	grid-column: span 1;
	grid-row: span 1;

	grid-area: sixthDay;

	background-color: #891211;

	justify-content: flex-start;

	img {
		bottom: 50%;
		right: 3.5rem;
		transform: translateY(50%);

		width: 8.6rem;
		height: 8.3rem;

		@media screen and (max-width: $width-mobile) {
			top: -1.7rem;
			right: 2rem;

			width: 7.1rem;
			height: auto;
		}
	}

	@media screen and (max-width: $width-mobile) {
	}
}
.calendarDay_7 {
	grid-column: span 1;
	grid-row: span 2;

	background-color: #bc0f0d;

	img {
		bottom: 3rem;
		right: 2rem;

		width: 16.4rem;
		height: 15.8rem;

		@media screen and (max-width: $width-mobile) {
			top: 1.5rem;
			right: 2rem;

			width: 7.6rem;
			height: auto;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 1;

		grid-area: seventhDay;
	}
}
.calendarDay_8 {
	grid-column: span 2;
	grid-row: span 2;

	background-color: #a11412;

	img {
		bottom: 3rem;
		right: 2.5rem;

		width: 24.7rem;
		height: 26.2rem;

		@media screen and (max-width: $width-mobile) {
			top: 1rem;
			right: 1.5rem;

			width: 13.3rem;
			height: 14.2rem;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 2;
	}
}
.calendarDay_9 {
	grid-column: span 2;
	grid-row: span 2;

	grid-area: ninethDay;

	background-color: #9a0503;

	img {
		bottom: 1rem;
		right: 2rem;

		width: 12.1rem;
		height: 10rem;

		@media screen and (max-width: $width-mobile) {
			top: 1rem;
			right: 2rem;

			width: 9.6rem;
			height: 8rem;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 1;
	}
}
.calendarDay_10 {
	grid-column: span 2;
	grid-row: span 2;

	grid-area: tenthDay;

	background-color: #8a0b0a;

	img {
		bottom: 0;
		left: 4rem;

		width: 19.2rem;
		height: 15.4rem;

		@media screen and (max-width: $width-mobile) {
			top: 1.4rem;
			right: 1rem;
			left: unset;

			width: 10.7rem;
			height: 8.6rem;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 1;
	}
}
.calendarDay_11 {
	grid-column: span 2;
	grid-row: span 2;

	background-color: #bc1615;

	img {
		bottom: 3rem;
		right: 3rem;

		width: 18rem;
		height: 19.6rem;

		@media screen and (max-width: $width-mobile) {
			bottom: 1rem;
			right: 1.5rem;

			width: 16rem;
			height: 16rem;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 1;

		grid-area: eleventhDay;
	}
}
.calendarDay_12 {
	grid-column: span 2;
	grid-row: span 2;

	background-color: #a11412;

	img {
		bottom: -1.4rem;
		right: 3rem;

		width: 27rem;
		height: 22.8rem;

		@media screen and (max-width: $width-mobile) {
			bottom: -1rem;
			right: 2.5rem;

			width: 19.6rem;
			height: 16.8rem;
		}
	}

	@media screen and (max-width: $width-mobile) {
		grid-column: span 1;
		grid-row: span 1;

		grid-area: twelfthDay;
	}
}

.calendar__bandBottom {
	position: absolute;
	top: 6.5rem;
	left: -9rem;

	width: 18rem;
	height: auto;

	z-index: 5;

	pointer-events: none;

	@media screen and (max-width: $width-mobile) {
		width: 45vw;
		top: -7vw;
		left: -21vw;

		transform: rotate(-45deg);
	}
}
.calendarDay_current {
	mix-blend-mode: unset;
	background-color: #e3302b;

	span {
		color: white;
	}
	img {
		opacity: 1;
	}
}

.calendarDay_pastDay {
	mix-blend-mode: normal;

	transition: background-color 0.3s ease-in-out;

	span {
		color: white;
	}
	img {
		opacity: 1;
	}

	&:hover {
		background-color: #e3302b;
	}
}

img.calendarDay_modalImg_1{
	top: -9rem;

	@media screen and (max-width: $width-mobile) {
		top: -7rem;
	}
}

img.calendarDay_modalImg_2{
	top: -10rem;
	@media screen and (max-width: $width-mobile) {
		top: -7rem;
	}
}

img.calendarDay_modalImg_3{
	width: 25rem;
	top: -17.5rem;

	@media screen and (max-width: $width-mobile) {
		top: -18rem;
	}
}

img.calendarDay_modalImg_4{
	top: -14rem;

	@media screen and (max-width: $width-mobile) {
		top: -10rem;
	}
	
}

img.calendarDay_modalImg_5{

	top: -10rem;
	@media screen and (max-width: $width-mobile) {
		top: -7rem;
	}
	
}

img.calendarDay_modalImg_6{
	width: 30rem;
	top: -14.5rem;

	@media screen and (max-width: $width-mobile) {
	}
}

img.calendarDay_modalImg_7{
	width: 30rem;

	@media screen and (max-width: $width-mobile) {
		top: -14rem;
	}
}

img.calendarDay_modalImg_8{
	width: 31rem;

	@media screen and (max-width: $width-mobile) {
		top: -14rem;
	}
}

img.calendarDay_modalImg_9{

	@media screen and (max-width: $width-mobile) {
		top: -9rem;
	}
	
}

img.calendarDay_modalImg_10{

	@media screen and (max-width: $width-mobile) {
		top: -9rem;
	}
	
}

img.calendarDay_modalImg_11{
	top: -15rem;

	@media screen and (max-width: $width-mobile) {
		top: -10rem;
	}
}

img.calendarDay_modalImg_12{
	width: 32rem;
	top: -11rem;

	@media screen and (max-width: $width-mobile) {
	}
}

