@import "../../../variables.scss";

.socialNetwork {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: space-between;

	max-width: 24rem;

	margin: 0 auto;
	overflow: hidden;

	padding: 3rem 0 2rem;
}

.socialNetwork__icon{
	transition: transform 0.3s ease-in-out;
}

.socialNetwork__link {
	outline: none;
	background-color: transparent;

	border: none;

	--size: 3.2rem;

	width: var(--size);
	height: var(--size);

	padding: 0;

	cursor: pointer;

	transition: transform 0.3s ease-in-out;

	&:not(:last-of-type) {
		margin-right: 6.4rem;
	}

	&:hover{
		.socialNetwork__icon{
			transform: rotate(10deg) scale(1.1);
		}
	}
}
