@import "~normalize.css/normalize";
@import "variables";
// @import "./app/assets/fonts/fonts";

:root {
  font-size: calc(10 / 1440 * 100vw);
  color: black;
  font-family: var(--font_Roboto);

  --font_Roboto: "Roboto", sans-serif;
  --font_Montserrat: "Montserrat.", sans-serif;

  @media screen and (max-width: $width-mobile) {
    font-size: calc(10 / 390 * 100vw);
  }

}

ul {
  list-style-type: none;
}

a {
  background: transparent;
  text-decoration: none;
  color: var(--color-dark-grey);
}

// 1. Addresses appearance set to searchfield in Safari 5, Chrome
input[type="search"] {
  -webkit-appearance: textfield; // 1
}

// Removes inner padding and search cancel button in S5, Chrome on OS X
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

// Removes inner padding and border in FF3+
// www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

// 1. Removes default vertical scrollbar in IE6/7/8/9
// 2. Improves readability and alignment in all browsers
textarea {
  overflow: auto; // 1
  vertical-align: top; // 2
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea:focus,
input:focus {
  outline: 0;
}

input {
  margin: 0;
  padding: 0;
  appearance: none;
}

button {
  cursor: pointer;
}