@import "./app/assets/fonts/fonts";
$width-mobile: 725px;

:root{

    --font_Roboto: "Roboto", sans-serif;
    --font_Montserrat: "Montserrat", sans-serif;

    --color_red: hsl(1, 75%, 41%);
    --color_light_green: hsl(133, 51%, 69%);
    --color_light_grey: hsl(0, 0%, 97%);
    --color_dark_olive_green: hsl(112, 33%, 33%);

    --font_size_h1: 4.8rem;
    --font_size_h3: 2.4rem;
    --font_size_text: 1.6rem;

    --section_padding: 3.2rem;

    @media screen and (max-width: $width-mobile){
        --section_padding: 1.6rem;
    }
}