@import "../../../variables.scss";

.survey {

  font-family: var(--font_Montserrat);
  background-color: white;

  border-radius: 1.6rem;

  padding: 4.8rem 1.6rem 1.6rem;
  width: 51.2rem;

  display: flex;
  flex-direction: column;

  @media screen and (max-width: $width-mobile) {
    width: 95%;

    padding: 58.4vw 2vw 2vw;
  }
}

.survey__question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 22.8rem;

  background-image: url("../../assets/images/Quiz/snowflakes.svg");
	background-repeat: no-repeat;
	background-size: 90%;
	background-position: center;

  @media screen and (max-width: $width-mobile) {
    background-image: url("../../assets/images/Quiz/snowflakes_mobile.svg");
  }
}

.survey__questionText {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-align: center;
}

.survey__scores {
  position: absolute;
	font-weight: 700;
	font-size: 1.8rem;
	line-height: 3.2rem;
	left: 1.6rem;
	top: 2rem;
}

.survey__answer {
  background-color: var(--color_alabaster_grey) !important;
  color: var(--color_dim_gray) !important;
}
